<div id="homepage-hero">
    <h1>WordPress Help Available Now</h1>
    <div class="content">
        <p>Get responsive professional help with your WordPress website now. Never struggle with website updates,
            errors,
            or design problems again. Register below to get the help you need.</p>
        <a href="https://calendly.com/wpresshelp/15min"
           class="btn btn-primary"
           target="_blank"
           rel="noopener noreferrer">Book A Call Now</a>
    </div>
</div>
