<div id="homepage-hero">
    <h1>WordPress Help Available Now</h1>
    <div class="content">
        <p>Get responsive professional help with your WordPress website from a seasoned Wordpress Consultant today.
            Never struggle with website updates, errors,
            or design problems again. Book a short free introductory consultation using the button below.
            You'll be asked a couple of simple questions and connect with the help you need.</p>

        <a href="https://calendly.com/wpresshelp/15min"
           class="btn btn-primary"
           target="_blank"
           rel="noopener noreferrer">Book A 15 Minute Intro Call Now</a>
        <p>No obligation.<br />No hard sales pitch.</p>
    </div>
</div>
