<div class="container-heading">
    <h2>How It Works</h2>
</div>
<div class="feature">
    <div class="container-item">
        <h2>Step 1</h2>
        Follow the booking link to set up a short 15 minute call to discuss your site.
        and the issues.
    </div>
    <div class="container-item">
        <h2>Step 2</h2>
        Once we have discussed a plan you decide your level of engagement. Most first time clients
        choose a one time job. This is a limited engagement to fix a specific issue. This can be
        anything from a white screen of death crash to an hours worth of content updates.
    </div>
    <div class="container-item">
        <h2>Step 3</h2>
        We perform the work and report back. This often includes a detailed explanation of the
        issue root cause and how to avoid it in the future.
    </div>
    <div class="container-item">
        <h2>Step 4</h2>
        Now that all the work is done you choose if you want to continue with our services. One time
        jobs are always available or you can choose to sign up for a monthly plan with extra benefits.
    </div>
</div>
