<div class="container-heading">
    <h2>Pricing Plans</h2>
</div>
<div class="feature">
    <div class="container-item">
        <h2>One Time Job</h2>
        Give us a try with a one time job. Designed to let you test drive the service.
        <ul>
            <li>One issue fixed</li>
            <li>One hour of content updates</li>
            <li>After action report</li>
            <li>24 hour turn around</li>
        </ul>

        Perfect for getting your site back on track without commitment.
        <span class="price" style="margin-top: 20px;">$99 One Time</span>
    </div>
    <div class="container-item">
        <h2>Monthly Plan</h2>
        For continuous website management and improvement, our monthly plan offers:
        <ul>
            <li>Unlimited one time jobs</li>
            <li>Nightly backups</li>
            <li>Priority support</li>
            <li>Cancel anytime</li>
        </ul>

        Ensure your website runs smoothly without lifting a finger.
        <div class="price" style="margin-top: 20px;">$99 Monthly</div>
    </div>
</div>
