<div class="container-heading">
    <h2>Reviews</h2>
</div>
<div class="feature reviews">
    <div class="container-item">
        <div class="star-rating">
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
        </div>
        <p>Brad is easy to work with and he's very knowledgeable about web development. I'd recommend him to anyone
            needing web work.</p>
        <span>- Dwayne Hickson</span>
        <img src="{{ 'assets/images/reviews/dwayne.png' | relative_url }}" alt="Dwayne Hickson Picture">
    </div>
    <div class="container-item">
        <div class="star-rating">
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
        </div>
        <p>Now a days Information Technology is the main component in any business. As a business owner there are a
            plethora of tasks, I must accomplish daily. IT being one of the most important yet, the last one to get
            my attention. I connected with Project 251 LLC more than two years ago. He has been amazing and
            extremely supportive of all our needs. He is professional, patient and precise. I will continue to refer
            him to all my clients, friends and family. Thank you Brad for all your support.</p>
        <span>- Rubi Hendricks</span>
        <img src="{{ 'assets/images/reviews/rubi.png' | relative_url }}" alt="Rubi Hendricks Picture">
    </div>
    <div class="container-item">
        <div class="star-rating">
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
        </div>
        <p>I have had several great experiences working with Project 251. Brad & team always respond very quickly to
            any issue or work needed and also finishes in a timely manner.</p>
        <span>- Rich White</span>
        <img src="{{ 'assets/images/reviews/rich.png' | relative_url }}" alt="Rich White Picture">
    </div>
</div>

