<div class="feature">
    <div class="container-item">
        <img src="{{ 'assets/images/icon-us.png' | relative_url }}" alt="US Based Help">
        <h3>US Based Help</h3>
        <p>Easy to reach. Easy to communicate. Always one phone call or message away.</p>
    </div>
    <div class="container-item">
        <img src="{{ 'assets/images/icon-one-time.png' | relative_url }}" alt="Site Updates">
        <h3>Site Updates</h3>
        <p>We keep your site up to date both software and content.</p>
    </div>
    <div class="container-item">
        <img src="{{ 'assets/images/icon-open.png' | relative_url }}" alt="Unlimited Support">
        <h3>Unlimited Support</h3>
        <p>We’re committed to your site. For one monthly fee get access to unlimited world class help with your
            site.</p>
    </div>
</div>
