<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.meta_description | default: site.meta_description | default: '' }}">

    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet"></noscript>

    <link rel="preload" href="/assets/css/main.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/assets/css/main.css"></noscript>
</head>

<body>
<div id="homepage-nav-container" style="display:none;">
    <nav>
        <a href="/">Home</a>
        <a href="/contact.html">Contact</a>
    </nav>
</div>

<main>
    {{ content }}
</main>

<footer>
    <p>Copyright © {{ "now" | date: "%Y" }} Wpresshelp. All Rights Reserved.</p>
</footer>
<script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</body>

</html>
