<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>
<div id="homepage-nav-container" style="display:none;">
    <nav>
        <a href="/">Home</a>
        <a href="/contact.html">Contact</a>
    </nav>
</div>

<main>
    {{ content }}
</main>

<footer>
    <p>Copyright © {{ "now" | date: "%Y" }} Wpresshelp. All Rights Reserved.</p>
</footer>
</body>

</html>
